<div class="container">
  <br>
  <%= form_for @toon do |f| %>
    <div class="row">

      <div class="field white-text">
        <%= f.label :name %><br />
        <%= f.text_field :name, placeholder: "Character Name", required: true %>
      </div>
      <br>
      <h6 class="white-text">Eve Character API Information</h6>
      <div class="field white-text">
        <%= f.label :key_id %><br />
        <%= f.number_field :key_id, placeholder: "Key ID", required: true %>
      </div>
      <br>
      <div class="field white-text">
        <%= f.label :v_code %><br />
        <%= f.text_field :v_code, placeholder: "V Code", required: true %>
      </div>
      <div class="center field">
        <%= f.submit "Add New Character", class: "waves-effect waves-light btn" %>
      </div>
    </div>
  <% end %>
  <br>
</div>