<h2>Toon Show Page</h2>

<h4><%= @toon.name %></h4>

<h6><%= @toon.user.username %></h6>

<p><%= link_to 'mode_edit', edit_toon_path(@toon), class: "right material-icons" %></p>


<h4><%= @character.character_name %></h4>
<h4><%= @account_balance.balance %></h4>