
<div class="col m10">
  <div class="row">
    <div class="col m10 offset-m1">
      <h4 class="header white-text"><%= @character.character_name %></h4>
      <div class="card blue darken-4 horizontal">
        <div class="card-image">
          <%= image_tag(@character_portrait.huge, class: "responsive-img") %>
        </div>
        <div class="card-stacked">
          <div class="card-content white-text">
            <ul>
              <li><strong>Corporation: </strong><%= @character.corporation_name %></li>
              <li><strong>Alliance: </strong><%= @character.alliance_name %></li>
              <li><strong>Balance: </strong><%= number_to_currency(@account_balance.balance) %></li>
              <li><strong>Number of Skills: </strong><%= @num_of_skills %></li>
              <li><strong>Logged in Hours: </strong><%= @account_status.logon_minutes / 60 %></li>
            </ul>
          </div>
          <div class="card-action">
            <p><%= link_to 'mode_edit', edit_toon_path(@toon), class: "material-icons" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @skills_by_level.each_with_index do |skills, level| %>
    <div class="col m2">
      <table class="highlight">
        <!-- <thead> -->
          <tr>
            <th class="white-text">Level <%= level %> Skills</th>
            <!-- <th class="white-text">Level Trained</th> -->
          </tr>
        <!-- </thead> -->
          <!-- <tbody> -->
          <% skills.each do |name| %>
            <tr>
              <td class="white-text"><%= name %></td>
              <!-- <td class="white-text"><%#= skills_for_level.first %></td> -->
            </tr>
          <% end %>
          <!-- </tbody> -->
      </table>
    </div>
  <% end %>
</div>












