<h2>Toon Show Page</h2>

<h4><%= @toon.name %></h4>

<h6><%= @toon.user.username %></h6>

<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card horizontal">
        <div class="card-image">
          <%= image_tag(@character_portrait.large, class: "responsive-img") %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span><%= @character.character_name %></span>
          </div>
          <div class="card-action">
            <p><%= link_to 'Edit', edit_toon_path(@toon), class: "right material-icons" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>