<!DOCTYPE html>
<html>
  <head>
    <title>KaysualEve</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Kaysual Eve</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if !current_user %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% elsif current_user %>
          <li><%= link_to "#{current_user.username}'s Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
        <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice white-text"><%= notice %></p>
    <p class="alert white-text"><%= alert %></p>

    <%= yield %>
  </body>
</html>
